.contactUs__banner {
    background-image: url("../../img/services/contact-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
    z-index: 1;
    position: relative;
}

.contactUs__banner-text>* {
    position: absolute;
    z-index: 2;
    text-transform: uppercase;
    color: #fff;
    display: flex;
}

.contactUs__banner-text h3 {
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 16%;
}

.contactUs__banner-text:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5293a7a1;
    opacity: 0.6;
}

.contactUs>h2 {
    margin: 1rem 1rem 0.2rem;
    text-align: center;
    color: #008eaa;
}

.contactUs-line {
    width: 45%;
    height: 2px;
    background-color: #009f4d;
    margin: 0 auto;
}

.contact-form {
    display: grid;
    gap: 20px;
    background-color: #5293a7a1;
}

.form-control {
    border: none;
}